.blankImageBox {
    background-image:  url('../../assets/images/speechToText.jpg');
}

.card-1 {
    /* background-image:  url('./s2t-logo.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------------------------------------- */
h1 {
  text-align: center;
  color: #0194c7;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
.micHover {
  position: relative;
  display: block;
  width: 40px;
  margin: 30px auto;
}
.micHover .delay1 {
  animation: waves infinite linear;
  animation-delay: 0.1s;
}
.micHover .delay2 {
  animation: waves infinite linear 0.7s forwards;
}
.micHover .delay3 {
  animation: waves infinite linear 1.3s forwards;
}
.micHover .delay4 {
  animation: waves infinite linear 1.9s forwards;
}
.svg-box {
  position: relative;
  z-index: 20;
}
.circle {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #0194c7;
  margin: 5px;
  transition: 5s ease;
  position: absolute;
  top: 0px;
}
@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes bloop {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.25, 0.75, 1);
  }
  /* 40% {
    transform: scale3d(0.75, 1.25, 1);
  } */
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  /* 65% {
    transform: scale3d(0.95, 1.05, 1);
  } */
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
